<div class="main-container">
  <h1>Please Login via Metamask</h1>
  <div id="button-metamask-login">
    <%= link_to("Metamask Login", "/top/login", remote: true, class: "metamask-login", method: "get")  %>
  </div>
</div>
