<div class="main-container">
  <h1>Please Login via Metamask</h1>
  <div id="button-metamask-login">
    <%= link_to("Metamask Login", "/top/login", class: "metamask-login", method: "get", remote: true)  %>
  </div>
  <span class="test">None</span>
</div>
