<script type="text/javascript">
  // Grobal
  var dice1;
  var dice2;
  var dice3;
  var dice4;
  var dice5;
  var dice6;
  var rolling_dice_id;
  var user_gtip = -1;
  var user_wallet =  -1;

  $(document).on('click', '#duel-buttun', ()=>{
    clearInterval(rolling_dice_id);
    var form = document.forms.duelForm;
    form.dice1Val.value = dice1;
    form.dice2Val.value = dice2;
    form.dice3Val.value = dice3;
    form.dice4Val.value = dice4;
    form.dice5Val.value = dice5;
    form.dice6Val.value = dice6;
    form.user_gtip.value = user_gtip;
    form.user_wallet.value = user_wallet;
  });

  $(document).ready(()=>{
    if(typeof web3 !== 'undefined') {
      //　表示用にアドレス取得
      web3.eth.getAccounts((error, accounts) => {
        if(error) {
          console.log("getAccountsでエラー(main.html.erb)");
        }

        if(typeof accounts[0] === 'undefined'){
          $('.register-form').css('display', 'none');
        } else {
          $(".description").css("display", "none");
          $('.your-wallet').text(accounts[0]);
          user_wallet = accounts[0];
          var abi = <%= raw(@json_data) %> ;
          var contract_address = "0x0B19Fd715171484E658e61a61b2891772d89b099";
          var gambreumPlayer = web3.eth.contract(abi).at(contract_address);

          // gtip, userinfoを取得、描写する。
          main_conclusion(gambreumPlayer, accounts)
          //ここをもっと細分化して書くべきかも
          //値を取得し、then描写・・・値を取得し、then描画・・・みたいな感じ
          .then((value) => {
            rolling_dice_id = setInterval(viewRollingDice, 100);
          });
        }
      });
    } else {
      alert("metamaskインストールして！");
    }
  });

  // functions to connect Gambreum contract
  function getUserGtip(contract_object, accounts) {
    return new Promise (resolve => {
      contract_object.balanceOf(accounts[0], (error, result)=>{
        if(error) {
          console.log("balanceOfでエラー");
          resolve(error);
        }
        user_gtip = result["c"][0];
        resolve(result);
      });
    });
  }

  function viewUserInfo(contract_object) {
    return new Promise (resolve => {
      contract_object.viewPlayerInfo((error, result) => {
        if(error) {
          console.log("viewPlayerInfoでエラー");
          resolve(error);
        }
        var username = result[0];
        var winrate = result[1]["e"];
        console.log("username" + username)
        if(username === "") {
          // user未登録
          $(".user-profile").css("display", "none");
          $(".game-window").css("display", "none");
          $(".register-form").css("display", "block")
        } else {
          // user情報がチェーン状にあるので、表示
          $(".user-profile").css("display", "block");
          $(".game-window").css("display", "block");
          $(".register-form").css("display", "none")
          $("#username").text(username);
          $("#winrate").text(winrate);
          $("#GTIP").text(user_gtip);
        }
      resolve(result);
      });
    });
  }


  async function main_conclusion(contract_object, accounts) {
    const gtip_result = await getUserGtip(contract_object, accounts);
    const userinfo_result =  await viewUserInfo(contract_object);
    return [gtip_result, userinfo_result];
  }

  // functions to view dice
  function viewRollingDice() {
    var diceChange = function(dice_number) {
      var random = Math.random() * 6;
      var random_1to6 = Math.floor(random) + 1;
      if(dice_number === 1){
        document.dice1.src = "/images/d" + random_1to6 + ".png";
      } else if (dice_number === 2) {
        document.dice2.src = "/images/d" + random_1to6 + ".png";
      } else if (dice_number === 3) {
        document.dice3.src = "/images/d" + random_1to6 + ".png";
      } else if (dice_number === 4) {
        document.dice4.src = "/images/d" + random_1to6 + ".png";
      } else if (dice_number === 5) {
        document.dice5.src = "/images/d" + random_1to6 + ".png";
      } else if (dice_number === 6) {
        document.dice6.src = "/images/d" + random_1to6 + ".png";
      }
      return random_1to6;
    };
    dice1 = diceChange(1);
    dice2 = diceChange(2);
    dice3 = diceChange(3);
    dice4 = diceChange(4);
    dice5 = diceChange(5);
    dice6 = diceChange(6);
  }
</script>


<!-- HTML DOC -->
<div class="main-container">
  <div class="description">
    <h2>Welcome to Gambreum !</h2>
    <ul>
      <li>You can play Tintiro-game using GTIP token in Ropsten.<li>
      <li>So you need to get a wallet address in Ropsten.</li>
      <li>Please login and connect your wallet to our service so that create your account !<li>
    </ul>
  </div>

  <%= link_to("Metamask Login", "/top/login", id: "button-metamask-login", method: "post", remote: true) %>

  <div class="user-profile">
    <ul>
      <li>User Name: <span id="username"></span></li>
      <li>GTIP: <span id="GTIP"></span></li>
    </ul>
  </div>

  <div class="game-window">
    <div class="dice-wrapper">
      <!-- Player Dices -->
      <div class="duel_tag">
        YOU
      </div>
      <img src="/images/d1.png" name="dice1" class="rolling-dice">
      <img src="/images/d1.png" name="dice2" class="rolling-dice">
      <img src="/images/d1.png" name="dice3" class="rolling-dice">
    </div>

    <!-- Dealer Dices -->
    <div class="duel_tag">
      Dealer
    </div>
    <img src="/images/d1.png" name="dice4" class="rolling-dice">
    <img src="/images/d1.png" name="dice5" class="rolling-dice">
    <img src="/images/d1.png" name="dice6" class="rolling-dice">

    <!-- Duel Button -->
    <%= form_tag("/top/duel", name: "duelForm", id: "duelForm_id", method: :post, remote: true) do %>
      <input type="text" name="givenTip" id="give-tip-buttun" value="0">
      <input type="text" name="dice1Val" style="display:none" value="-1">
      <input type="text" name="dice2Val" style="display:none" value="-1">
      <input type="text" name="dice3Val" style="display:none" value="-1">
      <input type="text" name="dice4Val" style="display:none" value="-1">
      <input type="text" name="dice5Val" style="display:none" value="-1">
      <input type="text" name="dice6Val" style="display:none" value="-1">
      <input type="text" name="user_gtip" style="display:none" value="-1">
      <input type="text" name="user_wallet" style="display:none" value="-1">
      <input type="submit" name="duel" id="duel-buttun" value="DUEL!">
    <% end %>
    <!-- Link to Transaction -->
    <div class="transaction_link">
      <span id="transaction_link_btn"><div>
    </div>
  </div>

  <div class="register-form">
    <%= form_tag("/top/register", method: :post, remote: true) do %>
      <ul>
        <li><h3>You dont have an account.<br>Can you register your wallet below ?</h3></li>
        <li>Your wallet is ...</li>
        <li><span class="your-wallet"></span></li>
        <div class="invisible-block"></div>
        <li>Username <input type="text" name="username"></li>
        <li><input type="submit" name="register-execute" value="Go!" class="register-submit"></li>
        <li><span id="register-status"></span></li>
      </ul>
    <% end %>
  </div>
</div>
