$(()=>{
  <% if flash[:notice] %>
    $('.flash-place').html('<div class="flash">Input usename !!</div>');
  <% else %>
    $('.flash-place').html("");
    console.log("register.js.erb");
    var username = "<%= @username %>";
    var abi = <%= raw(@json_data) %> ;
    var contract_address = "0x0B19Fd715171484E658e61a61b2891772d89b099";
    var gambreumPlayer = web3.eth.contract(abi).at(contract_address);

    gambreumPlayer.createPlayer(username, (error, transaction_hash) =>{
      if(error){
        console.log(error);
        alert("Ethが不足しています…もしくは、書き込みがpendingなので少し時間を置いてからアクセスしてください。");
        return;
      }
      alert("ユーザ情報をブロックチェーンへ書き込みました！\n反映されるまで、時間がかかります。\nTransaction Hash: " + transaction_hash);
      console.log(transaction_hash); // <- transaction hash
      var count = 0;
      var waitForComfirmingTransaction = function() {
        var id = setTimeout(waitForComfirmingTransaction, 1000);
        web3.eth.getTransaction(transaction_hash, (error, result) => {
          if(result["blockNumber"] != null){
            $('#register-status').text("登録完了！ページを更新してください。");
            clearTimeout(id);
          } else {
            $('#register-status').text("ブロックチェーンに書き込み中...");
          }
        });
      }
      waitForComfirmingTransaction(transaction_hash);
    });
  <% end %>
});
