// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-container {
  width: 80%;
  margin: 0 auto 0 auto;
  text-align: center;
}

.main-container h1 {
  padding-top: 25px;
}

.main-container p {
  color: red;
}
