// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// container
.main-container {
  z-index: 1;
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#top-title {
  font-size: 2rem;
  padding-top: 20px;
  padding-bottom: 20px;
}

// description
.description {
  display: block;
  margin: 10px 0, 10px, 0;
}

.description ul {
  font-size: 15px;
  text-align: center;
}

// login button
#button-metamask-login {
  z-index: 3;
  height: 70px;
  width: 200px;
  font-size: 20px;
  margin-top: 30px;
  cursor: pointer;
  font-weight: bold;
  line-height: 72px;
  position: relative;
  border-radius: 15px;
  box-shadow: 0px 5px #000000;
  background-color: rgb(107, 153, 56);
}

#button-metamask-login:active {
  top: 5px;
  box-shadow: none;
  background-color: rgba(107, 153, 56, 0.8);
}

// user profile
.user-profile {
  width: 80%;
  display: none;
  margin: 10px 10% 10px 10%;
  border: 3px solid rgb(40, 47, 42);
  background-color: rgba(2, 20, 10, 0.3);
}

.user-profile ul {
  font-size: 20px;
  text-align: left;
  font-weight: bold;
  font-style: italic;
  padding: 15px 0 15px 5%;
}

// game-window
.game-window {
  width: 80%;
  height: 350px;
  display: none;
  position: relative;
  margin: 10px 10% 10px 10%;
  border: 3px solid rgb(40, 47, 42);
  background-color: rgba(2, 20, 10, 0.3);
}

.dice-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.rolling-dice {
  width: 70px;
  height: 70px;
  margin-right: 10px;
  display: inline-block;
}

#duelForm_id {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

#give-tip-buttun {
  font-size: 20px;
  margin-right: 10px;
  background-color: white;
}

#duel-buttun {
  font-size: 20px;
  background-color: white;
}

.duel_tag {
  font-size: 20px;
  font-weight: bold;
}

// tablet
@media (max-width: 1000px) {
  .game-window {
    height: 250px;
  }
  .rolling-dice {
    width: 40px;
    height: 40px;
  }

  #duelForm_id{
    margin-top: 25px;
  }

  #give-tip-buttun {
    font-size: 10px;
  }

  #duel-buttun {
    font-size: 10px;
  }
}

// phone
@media (max-width: 500px) {

}
